@-webkit-keyframes fadeInDown {
 0% {
  opacity:0;
  -webkit-transform:translateY(-20px);
  transform:translateY(-20px)
 }
 to {
  opacity:1;
  -webkit-transform:translateY(0);
  transform:translateY(0)
 }
}
@keyframes fadeInDown {
 0% {
  opacity:0;
  -webkit-transform:translateY(-20px);
  transform:translateY(-20px)
 }
 to {
  opacity:1;
  -webkit-transform:translateY(0);
  transform:translateY(0)
 }
}
.fadeInDown {
 -webkit-animation-name:fadeInDown;
 animation-name:fadeInDown;
 -webkit-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-fill-mode:both;
 animation-fill-mode:both
}
@-webkit-keyframes fadeIn {
 0% {
  opacity:0
 }
 to {
  opacity:1
 }
}
@keyframes fadeIn {
 0% {
  opacity:0
 }
 to {
  opacity:1
 }
}
.fadeIn {
 -webkit-animation-name:fadeIn;
 animation-name:fadeIn;
 -webkit-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-fill-mode:both;
 animation-fill-mode:both
}
@-webkit-keyframes fadeInUp {
 0% {
  opacity:0;
  -webkit-transform:translateY(20px);
  transform:translateY(20px)
 }
 to {
  opacity:1;
  -webkit-transform:translateY(0);
  transform:translateY(0)
 }
}
@keyframes fadeInUp {
 0% {
  opacity:0;
  -webkit-transform:translateY(20px);
  transform:translateY(20px)
 }
 to {
  opacity:1;
  -webkit-transform:translateY(0);
  transform:translateY(0)
 }
}
.fadeInUp {
 -webkit-animation-name:fadeInUp;
 animation-name:fadeInUp;
 -webkit-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-fill-mode:both;
 animation-fill-mode:both
}
@-webkit-keyframes fadeInLeft {
 0% {
  opacity:0;
  -webkit-transform:translateX(-20px);
  transform:translateX(-20px)
 }
 to {
  opacity:1;
  -webkit-transform:translateX(0);
  transform:translateX(0)
 }
}
@keyframes fadeInLeft {
 0% {
  opacity:0;
  -webkit-transform:translateX(-20px);
  transform:translateX(-20px)
 }
 to {
  opacity:1;
  -webkit-transform:translateX(0);
  transform:translateX(0)
 }
}
.fadeInLeft {
 -webkit-animation-name:fadeInLeft;
 animation-name:fadeInLeft;
 -webkit-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-fill-mode:both;
 animation-fill-mode:both
}
@-webkit-keyframes fadeInRight {
 0% {
  opacity:0;
  -webkit-transform:translateX(20px);
  transform:translateX(20px)
 }
 to {
  opacity:1;
  -webkit-transform:translateX(0);
  transform:translateX(0)
 }
}
@keyframes fadeInRight {
 0% {
  opacity:0;
  -webkit-transform:translateX(20px);
  transform:translateX(20px)
 }
 to {
  opacity:1;
  -webkit-transform:translateX(0);
  transform:translateX(0)
 }
}
.fadeInRight {
 -webkit-animation-name:fadeInRight;
 animation-name:fadeInRight;
 -webkit-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-fill-mode:both;
 animation-fill-mode:both
}
@media (min-width:1400px) {
 .dn-lge {
  display:none!important
 }
}
@media (max-width:1024px) {
 .dn-med {
  display:none!important
 }
}
@media (max-width:650px) {
 .dn-tab {
  display:none!important
 }
}
@media (max-width:400px) {
 .dn-mob {
  display:none!important
 }
}
.comp {
 font-family:Lucida Sans Unicode,Lucida Grande,Sans-Serif;
 display:inline-block;
 font-size:25px;
 font-weight:600;
 line-height:15px
}
.comp.sa0 {
 -webkit-transform:rotate(0deg);
 transform:rotate(0deg);
 filter:progid:DXImageTransform.Microsoft.Matrix(M11=1,M12=0,M21=0,M22=1,SizingMethod="auto expand")
}
.comp.sa2 {
 -webkit-transform:rotate(22.5deg);
 transform:rotate(22.5deg);
 filter:progid:DXImageTransform.Microsoft.Matrix(M11=0.92388,M12=-0.38268,M21=0.38268,M22=0.92388,SizingMethod="auto expand")
}
.comp.sa4 {
 -webkit-transform:rotate(45deg);
 transform:rotate(45deg);
 filter:progid:DXImageTransform.Microsoft.Matrix(M11=0.70711,M12=-0.70711,M21=0.70711,M22=0.70711,SizingMethod="auto expand")
}
.comp.sa6 {
 -webkit-transform:rotate(67.5deg);
 transform:rotate(67.5deg);
 filter:progid:DXImageTransform.Microsoft.Matrix(M11=0.38268,M12=-0.92388,M21=0.92388,M22=0.38268,SizingMethod="auto expand")
}
.comp.sa8 {
 -webkit-transform:rotate(90deg);
 transform:rotate(90deg);
 filter:progid:DXImageTransform.Microsoft.Matrix(M11=0,M12=-1,M21=1,M22=0,SizingMethod="auto expand")
}
.comp.sa10 {
 -webkit-transform:rotate(112.5deg);
 transform:rotate(112.5deg);
 filter:progid:DXImageTransform.Microsoft.Matrix(M11=-0.38268,M12=-0.92388,M21=0.92388,M22=-0.38268,SizingMethod="auto expand")
}
.comp.sa12 {
 -webkit-transform:rotate(135deg);
 transform:rotate(135deg);
 filter:progid:DXImageTransform.Microsoft.Matrix(M11=-0.70711,M12=-0.70711,M21=0.70711,M22=-0.70711,SizingMethod="auto expand")
}
.comp.sa14 {
 -webkit-transform:rotate(157.5deg);
 transform:rotate(157.5deg);
 filter:progid:DXImageTransform.Microsoft.Matrix(M11=-0.92388,M12=-0.38268,M21=0.38268,M22=-0.92388,SizingMethod="auto expand")
}
.comp.sa16 {
 -webkit-transform:rotate(180deg);
 transform:rotate(180deg);
 filter:progid:DXImageTransform.Microsoft.Matrix(M11=-1.0,M12=0,M21=0,M22=-1.0,SizingMethod="auto expand")
}
.comp.sa18 {
 -webkit-transform:rotate(202.5deg);
 transform:rotate(202.5deg);
 filter:progid:DXImageTransform.Microsoft.Matrix(M11=-0.92388,M12=0.38268,M21=-0.38268,M22=-0.92388,SizingMethod="auto expand")
}
.comp.sa20 {
 -webkit-transform:rotate(225deg);
 transform:rotate(225deg);
 filter:progid:DXImageTransform.Microsoft.Matrix(M11=-0.70711,M12=0.70711,M21=-0.70711,M22=-0.70711,SizingMethod="auto expand")
}
.comp.sa22 {
 -webkit-transform:rotate(247.5deg);
 transform:rotate(247.5deg);
 filter:progid:DXImageTransform.Microsoft.Matrix(M11=-0.38268,M12=0.92388,M21=-0.92388,M22=-0.38268,SizingMethod="auto expand")
}
.comp.sa24 {
 -webkit-transform:rotate(270deg);
 transform:rotate(270deg);
 filter:progid:DXImageTransform.Microsoft.Matrix(M11=0,M12=1.0,M21=-1.0,M22=0,SizingMethod="auto expand")
}
.comp.sa26 {
 -webkit-transform:rotate(292.5deg);
 transform:rotate(292.5deg);
 filter:progid:DXImageTransform.Microsoft.Matrix(M11=0.38269,M12=0.92388,M21=-0.92388,M22=0.38269,SizingMethod="auto expand")
}
.comp.sa28 {
 -webkit-transform:rotate(315deg);
 transform:rotate(315deg);
 filter:progid:DXImageTransform.Microsoft.Matrix(M11=0.70712,M12=0.7071,M21=-0.7071,M22=0.70712,SizingMethod="auto expand")
}
.comp.sa30 {
 -webkit-transform:rotate(337.5deg);
 transform:rotate(337.5deg);
 filter:progid:DXImageTransform.Microsoft.Matrix(M11=0.92395,M12=0.38266,M21=-0.38266,M22=0.92395,SizingMethod="auto expand")
}
.comp:nth-child(n) {
 filter:inherit!important
}
.comp {
 font-size:1.4em
}
.tiles .columns {
 padding:0 5px;
 margin-bottom:5px
}
@media only screen and (min-width:37.5em) and (max-width:50em) {
 .tiles {
  width:100%!important
 }
}
.tile {
 text-align:center;
 padding-top:10px;
 cursor:pointer;
 line-height:1;
 min-height:195px
}
.tile h2 {
 margin-top:5px
}
.tile a {
 color:#000
}
.tile a:hover {
 text-decoration:none
}
.tile:hover {
 opacity:.8
}
@media only screen and (min-width:37.5em) and (max-width:64em) {
 .tile {
  min-height:205px
 }
}
.tl-dt {
 background:hsla(0,0%,39%,.1);
 padding:10px 0;
 min-height:65px;
 color:#000;
 font-size:13px
}
@media only screen and (min-width:37.5em) and (max-width:64em) {
 .tl-dt {
  min-height:75px
 }
}
#tl-tz {
 background:#c9e9b0
}
#tl-ds {
 background:#aadd83
}
#tl-de {
 background:#93cd69
}
#tl-df {
 background:#64beed
}
#tl-nds {
 background:#aadd83
}
#tl-de img,#tl-ds img,#tl-mn img {
 padding:10px 0;
 height:60px
}
#tl-sr {
 background:#fff0bd
}
#tl-ss {
 background:#ffe9a1
}
#tl-dl {
 background:#ffd589
}
#tl-mn {
 background:#e1e0dd;
 position:relative
}
#tl-mn:after {
 left:-200px
}
#wt-3d {
 position:relative;
 padding-right:30px
}
#wt-3d,#wt-3d h2 {
 line-height:1
}
#wt-3d .desc {
 font-size:10px
}
@media only screen and (min-width:37.5em) and (max-width:50em) {
 #wt-3d {
  width:100%!important
 }
}
#curwt:hover {
 opacity:.8
}
#wt-tp {
 font-size:30px
}
@media only screen and (min-width:37.5em) and (max-width:50em) {
 #wt-tp {
  float:right
 }
}
#wt-cd {
 font-size:15px
}
#curwt {
 float:right
}
#tb-wt {
 width:100%;
 font-size:19px
}
#tb-wt tr {
 border-top:1px solid #ccc
}
#tb-wt td {
 padding:10px 5px
}
#tb-wt .td-wi {
 padding:0;
 text-align:center
}
#tb-wt .td-tp {
 text-align:right
}
@media only screen and (min-width:37.5em) and (max-width:50em) {
 #tb-wt .td-tp {
  width:120px
 }
}
#set-f {
 position:absolute;
 right:0;
 top:-5px;
 padding-left:13px;
 font-size:15px;
 background:url(//c.tadst.com/gfx/n/i/city-set.png) 0 no-repeat
}
@media only screen and (min-width:37.5em) and (max-width:50em) {
 .bg-sect img {
  height:25px
 }
}
@media only screen and (min-width:90.063em) {
 .bg-sect img {
  margin-right:40px
 }
}
#ad300 {
 margin-top:-10px
}
.tile-shrink {
 min-height:0
}
.tile-shrink h2 {
 font-size:18px;
 height:50px
}
.tile-grey {
 background:#e1e0dd
}
.tile-yellow {
 background:#fff0bd
}
#full-clk {
 width:12px;
 height:80px;
 background:url(//c.tadst.com/gfx/n/i/city-full.png) 0 0 no-repeat;
 position:absolute;
 left:15px;
 top:15px
}
#full-clk.lang-de {
 background-image:url(//c.tadst.com/gfx/n/i/city-full-de.png)
}
.cityClock {
 background:url(//c.tadst.com/gfx/n/cl/spr-wc-d.png) no-repeat;
 width:120px;
 height:120px;
 position:relative;
 margin:0 auto
}
.cityClock.night {
 background:url(//c.tadst.com/gfx/n/cl/spr-wc-n.png) no-repeat
}
.cityClock.night .hour {
 background:url(//c.tadst.com/gfx/n/cl/spr-wc-n.png) no-repeat -120px 0
}
.cityClock.night .min {
 background:url(//c.tadst.com/gfx/n/cl/spr-wc-n.png) no-repeat -240px 0
}
.cityClock.night .sec {
 background:url(//c.tadst.com/gfx/n/cl/spr-wc-n.png) no-repeat -359px 0
}
.cityClock.night .dot {
 background:url(//c.tadst.com/gfx/n/cl/spr-wc-n.png) no-repeat -480px 0
}
.cityClock div {
 position:absolute;
 top:0;
 left:0;
 width:120px;
 height:120px
}
.cityClock .hour {
 background:url(//c.tadst.com/gfx/n/cl/spr-wc-d.png) no-repeat -120px 0
}
.cityClock .min {
 background:url(//c.tadst.com/gfx/n/cl/spr-wc-d.png) no-repeat -240px 0
}
.cityClock .sec {
 background:url(//c.tadst.com/gfx/n/cl/spr-wc-d.png) no-repeat -359px 0
}
.cityClock .dot {
 background:url(//c.tadst.com/gfx/n/cl/spr-wc-d.png) no-repeat -480px 0;
 width:6px;
 height:6px;
 position:absolute;
 left:57px;
 top:57px
}
@media (-webkit-min-device-pixel-ratio:1.3),(min--moz-device-pixel-ratio:1.3),(min-device-pixel-ratio:1.3),(min-resolution:1.3dppx) {
 .cityClock {
  background-image:url(//c.tadst.com/gfx/n/cl/spr-wc-d-2x.png)!important;
  background-size:auto 120px
 }
}
@media (-webkit-min-device-pixel-ratio:1.3),(min--moz-device-pixel-ratio:1.3),(min-device-pixel-ratio:1.3),(min-resolution:1.3dppx) {
 .cityClock.night {
  background-image:url(//c.tadst.com/gfx/n/cl/spr-wc-n-2x.png)!important;
  background-size:auto 120px
 }
}
@media (max-width:400px) {
 #ct {
  font-size:22px
 }
 #ctdat {
  font-size:12px
 }
}
.fs-active {
 transition:width .5s ease,height .5s ease,opacity .5s ease;
 opacity:1!important;
 width:100%!important;
 height:100%!important;
 top:0!important;
 left:0!important;
 right:0!important;
 bottom:0!important;
 z-index:9999!important;
 overflow:hidden!important;
 position:fixed!important;
 margin:auto!important;
 background:#fff
}
.fs-inactive {
 visibility:hidden;
 top:100%
}
#fs-clock {
 position:fixed;
 background:#222;
 width:1000px;
 height:640px;
 color:#fff;
 margin:auto;
 transition:width .5s ease,height .5s ease,opacity .5s ease;
 opacity:0
}
.fs-cont {
 margin:10%;
 position:relative
}
.fs-cont>div {
 position:absolute
}
.fs-city {
 left:138px;
 color:#fbcb40;
 font-size:60px;
 top:12px
}
.fs-country {
 font-size:27px;
 left:142px;
 top:77px;
 font-weight:200
}
#fs-time-date {
 top:148px;
 width:100%;
 font-size:200px;
 left:0
}
.fs-time {
 font-size:100%;
 font-weight:800;
 line-height:1
}
.fs-date {
 font-size:17%;
 position:absolute;
 bottom:-10%;
 font-weight:200;
 left:1%
}
#fshrmin {
 color:#fbcb40
}
#fssec {
 top:8.5%
}
#fsampm,#fssec {
 position:absolute;
 font-size:45%
}
#fsampm {
 top:47%;
 color:#908686
}
#curtime {
 font-size:34px
}
#curdate {
 margin-top:5px
}
#cur-clock {
 display:inline-block
}
#cur-clock:hover {
 opacity:.8
}
#curtime {
 font-weight:500;
 letter-spacing:2px;
 margin-top:15px
}
.ampm,.secs {
 font-size:80%
}
@media only screen and (max-width:37.438em) {
 .fs-cont {
  margin:10% 20px
 }
 .fs-flag {
  width:60px;
  height:60px
 }
 .fs-city {
  left:70px;
  font-size:28px;
  top:5px
 }
 .fs-country {
  left:70px;
  font-size:14px;
  top:35px
 }
 #fs-time-date {
  top:100px;
  font-size:80px
 }
 .fs-date {
  bottom:-12%
 }
 #fs-native {
  display:none
 }
}
#fs-nav {
 background:#474749;
 height:25px;
 *zoom:1;
 display:none
}
#fs-nav:after {
 content:"";
 display:table;
 clear:both
}
#fs-nav a {
 color:#fff;
 height:25px;
 padding:0 10px;
 line-height:25px;
 font-weight:200;
 border-left:1px solid #222;
 display:inline-block
}
#fs-nav a.active,#fs-nav a:hover {
 background-color:#000;
 text-decoration:none
}
#fs-nav #fs-logo {
 border:none!important
}
#fs-nav #fs-native {
 padding-left:30px!important;
 background:url(//c.tadst.com/gfx/n/i/fs-fs.png) 10px no-repeat
}
#fs-nav #fs-close {
 padding-left:30px!important;
 background:url(//c.tadst.com/gfx/n/i/fs-ex.png) 10px no-repeat
}
.fs-active #fs-nav {
 display:block
}
@media only screen and (max-width:37.438em) {
 #fs-logo {
  width:50px;
  overflow:hidden
 }
 #fs-nav a {
  font-size:12px
 }
 #fs-nav #fs-native,#fs-nav #fs-popup {
  display:none
 }
}
.tzmp_fig {
 max-width:750px;
 box-shadow:0 0 3px #666
}
.tzmp_fig img {
 width:100%;
 max-width:750px
}
.tzmp_fig:hover {
 box-shadow:0 0 4px #333
}
.tzmp_figcap {
 font-style:normal;
 background:#f8f8f8;
 padding-bottom:5px
}
.tzmp_fig_item {
 float:left;
 line-height:1.4;
 padding:0 5px
}
.tzmp_dot {
 width:10px;
 height:10px;
 background:#ed1c66;
 border-radius:50%;
 position:absolute;
 border:2px solid #fff;
 box-shadow:0 0 3px #666;
 margin-top:-5px;
 margin-left:-5px;
 -webkit-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-name:fadeInDown;
 animation-name:fadeInDown;
 -webkit-animation-delay:.2s;
 animation-delay:.2s
}
.tzmp_dot.hover,.tzmp_dot:hover {
 width:20px;
 height:20px;
 margin-top:-10px;
 margin-left:-10px;
 transition:.3s
}
.dot-1 {
 -webkit-animation-delay:.35s;
 animation-delay:.35s
}
.dot-2 {
 -webkit-animation-delay:.5s;
 animation-delay:.5s
}
.dot-3 {
 -webkit-animation-delay:.65s;
 animation-delay:.65s
}
.dot-4 {
 -webkit-animation-delay:.8s;
 animation-delay:.8s
}
.dot-5 {
 -webkit-animation-delay:.95s;
 animation-delay:.95s
}
.dot-6 {
 -webkit-animation-delay:1.1s;
 animation-delay:1.1s
}
.dot-7 {
 -webkit-animation-delay:1.25s;
 animation-delay:1.25s
}
.dot-8 {
 -webkit-animation-delay:1.4s;
 animation-delay:1.4s
}
.dot-9 {
 -webkit-animation-delay:1.55s;
 animation-delay:1.55s
}
.dot-10 {
 -webkit-animation-delay:1.7s;
 animation-delay:1.7s
}
.dot-11 {
 -webkit-animation-delay:1.85s;
 animation-delay:1.85s
}
.dot-12 {
 -webkit-animation-delay:2s;
 animation-delay:2s
}
.tzmp_fig_key {
 height:15px;
 background:#ccc;
 border:1px solid #fff;
 margin:0 -5px;
 border-top-width:2px;
 border-bottom-width:2px
}
.tzmp_fig_tm {
 font-size:18px;
 margin-top:5px
}
.tzmp_fig_loc {
 font-size:13px
}
.tzmp_fig_loc ul {
 list-style:none;
 border-left:2px solid #ddd;
 padding:0
}
.tzmp_fig_loc li {
 padding:0 0 5px 5px;
 margin:0;
 font-size:12px
}
.tzmp_fig_loc li.hover {
 background:#eee
}
.tzmp_fig_utc {
 font-size:12px;
 margin-top:10px;
 color:#777
}
@media only screen and (min-width:37.5em) {
 .tzmp_fig_item:first-child .tzmp_fig_key {
  border-left:0
 }
 .tzmp_fig_item:last-child .tzmp_fig_key {
  border-right:0
 }
}
.tzmp_fig_key-c1 {
 background:#ab8ac1
}
.tzmp_fig_key-c2 {
 background:#ee6362
}
.tzmp_fig_key-c3 {
 background:#f6c5a0
}
.tzmp_fig_key-c4 {
 background:#fee090
}
.tzmp_fig_key-c5 {
 background:#9dcc8f
}
.tzmp_fig_key-c6 {
 background:#91bfdb
}
.tzmp_fig-x1,.tzmp_fig-x2 {
 width:50%
}
.tzmp_fig-x3 {
 width:33.33333%
}
.tzmp_fig-x4 {
 width:25%
}
.tzmp_fig-x5 {
 width:20%
}
.tzmp_fig-x6 {
 width:16.66667%
}
.tzmp_fig-x7,.tzmp_fig-x8 {
 width:25%
}
.tzmp_fig-x7:nth-child(5),.tzmp_fig-x8:nth-child(5) {
 clear:both
}
.tzmp_fig-x9,.tzmp_fig-x10 {
 width:20%
}
.tzmp_fig-x9:nth-child(5),.tzmp_fig-x10:nth-child(5) {
 clear:both
}
.tzmp_fig-x11,.tzmp_fig-x12 {
 width:16.66667%
}
.tzmp_fig-x11:nth-child(7),.tzmp_fig-x12:nth-child(7) {
 clear:both
}
@media only screen and (max-width:37.438em) {
 .tzmp_fig {
  padding:2px 5px
 }
 .tzmp_fig_key {
  width:15px;
  height:15px;
  border:1px solid #333
 }
 .tzmp_fig_item {
  float:none;
  display:block;
  width:100%
 }
 .tzmp_fig_key,.tzmp_fig_loc,.tzmp_fig_tm,.tzmp_fig_utc {
  display:inline-block;
  padding-right:5px
 }
 .tzmp_fig_loc,.tzmp_fig_tm,.tzmp_fig_utc {
  width:30%
 }
 .tzmp_fig_tm,.tzmp_fig_utc {
  margin-top:0
 }
 .tzmp_fig_key {
  margin-right:10px
 }
}
